{% extends "base.html" %}

{% block content %}
<main class="home-main">
<form class="home-main__form" action="/" method="POST">
    <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" id="title" name="title" placeholder="Title">
    </div>
    <div class="mb-3">
        <label for="content" class="form-label">Content</label>
        <textarea class="form-control" id="content" name="content" rows="3" placeholder="Content"></textarea>
    </div>
    <button type="submit" class="btn">Submit</button>

</form>
</main>
{% endblock %}
